.btn-group > .btn:first-child {
     -webkit-border-top-left-radius: $btnBorderRadius;
         -moz-border-radius-topleft: $btnBorderRadius;
             border-top-left-radius: $btnBorderRadius;
  -webkit-border-bottom-left-radius: $btnBorderRadius;
      -moz-border-radius-bottomleft: $btnBorderRadius;
          border-bottom-left-radius: $btnBorderRadius;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
     -webkit-border-top-right-radius: $btnBorderRadius;
         -moz-border-radius-topright: $btnBorderRadius;
             border-top-right-radius: $btnBorderRadius;
  -webkit-border-bottom-right-radius: $btnBorderRadius;
      -moz-border-radius-bottomright: $btnBorderRadius;
          border-bottom-right-radius: $btnBorderRadius;
}