// EDH Buttons

.btn {
  @extend .btn;
  font: {
    size: $baseFontSize - 2px;
    weight: bold;
  }
  @include border-radius($btnBorderRadius);
  padding: {
    left: 12px;
    right: 12px;
  }
}

.btn-large {
  @extend .btn-large;
  font: {
    size: $baseFontSize - 1px;
    weight: bold;
  }
  padding: {
    left: 16px;
    right: 16px;
  }
  @include border-radius($btnBorderRadius * 1.5);
}

.btn-mini {
  @extend .btn-mini;
  font: {
    size: $baseFontSize - 3px;
    weight: bold;
  }
  @include border-radius($btnBorderRadius * 0.8);
}
