@include bootstrap-grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);

@mixin container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
  @include bootstrap-clearfix; }

@mixin col($cols) {
  @include bootstrap-grid-core-span($cols, $gridColumnWidth, $gridGutterWidth);
  float: left;
  margin-left: $gridGutterWidth; }
